{% extends "base.html" %}


{% block content %}


            <div class="span8">
                <div class="box">
                    <div class="box-content">
                        <div class="btn-group-box">
                            <a class="btn" href="#"><i class="icon-dashboard icon-large"></i><br/><small>Mercadorias</small></a>
                            <a class="btn" href="{% url 'cadastrar_funcionario' %}"><i class="icon-user icon-large"></i><br/><small>Funcionarios</small></a>
                            <a class="btn" href="{% url 'cadastrar_cliente' %}"><i class="icon-search icon-large"></i><br/><small>Clientes</small></a>
                            <a class="btn" href="#"><i class="icon-list-alt icon-large"></i><br/><small>Fornecedores</small></a>

                        </div>
                    </div>
                </div>
            </div>

{% endblock %}