{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastrar Usuário</h3>
                </div>
                <form method="post" class="form-horizontal">
                    <div class="box-body">
                        {% csrf_token %}
                        {% bootstrap_form usuario_form layout='horizontal' %}
                        <hr>
                        {% bootstrap_form endereco_form layout='horizontal' %}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right ">Enviar</button>
                    </div>
                </form>
            </div>
        </div><!--/.col (right) -->
    </div>   <!-- /.row -->
</section>

{% endblock %}

{# Read the documentation for more information #}