{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
          <div class="box">
                <div class="box-header">
                      <h2 class="box-title">Funcionários Cadastrados</h2>
                      <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                          <div class="input-group-btn">
                              <a href="{% url 'cadastrar_funcionario' %}"  class="btn btn-primary btn-sm pull-right">Novo Funcionário</a>
                          </div>
                        </div>
                      </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                            <tr>
                                <th>CPF</th>
                                <th>RG</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Ações</th>
                            </tr>
                            {% for funcionario in funcionarios %}
                            <tr>
                                <td>{{ funcionario.cpf }}</td>
                                <td>{{ funcionario.rg }}</td>
                                <td>{{ funcionario.nome}}</td>
                                <td>{{ funcionario.telefone}}</td>
                                <td>
                                    <a href="#"><i class="fa fa-fw fa-pencil-square-o"></i>Editar</a>
                                    <a href="#"><i class="fa fa-fw fa-trash-o"></i>Excluir</a> </td>
                            </tr>
                            {% endfor %}
                      </table>
                </div><!-- /.box-body -->

                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% if funcionarios.has_previous %}
                           <li><a href="?page={{ contacts.previous_page_number }}">Anterior</a></li>
                        {% endif %}

                        <li>
                            <a href="#">Página {{ funcionarios.number }} de {{ funcionarios.paginator.num_pages }}</a></li>
                        </li>

                        {% if funcionarios.has_next %}
                            <li><a href="?page={{ funcionarios.next_page_number }}">Próximo</a></li>
                        {% endif %}
                    </ul>
                </div>
          </div><!-- /.box -->
    </div>
</div>


{% endblock %}
{# Read the documentation for more information #}