{% load staticfiles %}
<section id="aderir" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h1 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Adesão ao Sistema
                            </a>
                        </h1>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <div class="w-row team-member">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Para utilizar o Diário Oficial dos Municípios do Estado do Rio
                                                    Grande do Norte, o município deve ser filiado à União dos
                                                    Vereadores do Rio Grande do Norte (UVERN).
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Se o seu Município já é FILIADO solicite a sua adesão ao
                                                    Diário Oficial.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Caso o seu Município ainda não seja FILIADO, não perca tempo,
                                                    solicite já sua filiação e garanta mais transparência e
                                                    economia a sua gestão com a utilização do Diário Oficial dos
                                                    Municípios do Estado do Rio Grande do Norte. A equipe de
                                                    atendimento da UVERN está à disposição para atendê-lo.
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Entre em contato por meio do <a href="#contato">Contato</a> ou
                                                    ligue para nosso atendimento através do número (84) 3212-2545.
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    (Horário de Atendimento: Segunda à Sexta, das 8h às 18h)
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- ./col -->
            </div>
            <div class="col-lg-4">
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                        <img class="img-responsive" alt="Logo-Diario-Oficial" src="{% static "images/adesao.jpg" %}">
                    </div>
                </div>
            </div>
        </div>
</section>
