<section id="legislativo" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                A Legislação
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="box-body">
                                    <ul>
                                        <li>A Constituição Federal permite que cada município,como ente federado, possa
                                            se auto-organizar administrativamente (Art. 18 da CF/88) por meio de suas
                                            leis (arts. 29, 20, I, da CD/88)
                                        </li>
                                        <li>A Lei Federal nº 8.666/93, no seu art. 6º, inciso XIII, conceitua imprensa
                                            oficial e declara que: "para a União é o Diário Oficial da União e para os
                                            Estados, Distrito Federal e Municípios, é o que for definido em suas leis."
                                        </li>
                                        <li>O Diário Oficial é criado através de Lei Municipal. A prefeitura envia e
                                            aprova o Projeto de Lei, conforme modelo fornecido pela FEMURN, para a
                                            Câmara Municipal.
                                        </li>
                                        <li>O art. 48 da Lei Complementar nº. 101/00 considera o meio eletrônico como um
                                            instrumento de transparência da gestão fiscal.
                                        </li>
                                        <li>A Lei nº 10.520/2002, no seu art. 4º, determina que a publicação do aviso de
                                            licitação, independentemente do seu valor, deve ser publicado no Diário
                                            Oficial do respectivo município.
                                        </li>
                                    </ul>
                                </div><!-- /.box-body -->

                            </div><!-- ./col -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>